<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
<link href="css/commons.css" rel="stylesheet">
</head>
<body>
    <th:block th:insert="@{common/header}"></th:block>
  <div class="insert">
    <div class="discription">
      <p>
        登録情報を入力してください（<span class="required"></span>は必須です）
      </p>
    </div>
  
    <div class="form-body">
      <p class="error">[[${insertFailedMessage}]]</p>
  
      <form method="post" th:action="@{/insert}" th:object="${insertForm}">
        <fieldset class="label-130">
          <div>
            <label class="required">商品ID</label>
            <input th:field="*{productId}" type="text" name="productId" class="base-text">
            <div class="error" th:each="error: ${#fields.errors('productId')}">
              [[ ${error} ]]
            </div>
          </div>
          <div>
            <label class="required">商品名</label>
            <input th:field="*{productName}" type="text" name="name" class="base-text">
            <div class="error" th:each="error: ${#fields.errors('productName')}">
              [[ ${error} ]]
            </div>
          </div>
          <div>
            <label class="required">単価</label>
            <input th:field="*{price}" type="text" name="price" class="base-text">
            <div class="error" th:each="error: ${#fields.errors('price')}">
              [[ ${error} ]]
            </div>
          </div>
          <div class="select_block">
            <label class="required">カテゴリ</label>
            <select th:field="*{categoryId}" name="categoryId" class="base-text">
              <th:block th:each="category:${categoryList}">
                <option th:value="${category.id}" th:text="${category.name}"></option>
              </th:block>
            </select>
          </div>
          <div>
            <label>商品説明</label>
            <textarea th:field="*{description}" name="description" class="base-text"></textarea>
            <div class="error" th:each="error: ${#fields.errors('description')}">
              [[ ${error} ]]
            </div>
          </div>
<!--          <div>-->
<!--            <label>画像</label>-->
<!--            <input type="file" name="file">-->
<!--            <span class="error">エラーメッセージ</span>-->
<!--          </div>-->
        </fieldset>
        <div class="btns">
          <button type="button" onclick="openModal()" class="basic-btn">登録</button>
          <input type="button" onclick="location.href='/menu'" value="戻る" class="cancel-btn">
        </div>
        <div id="modal">
          <p class="modal-message">登録しますか？</p>
          <div class="btns">
            <button type="submit" id="register-btn" class="basic-btn">登録</button>
            <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="js/commons.js"></script>
  <script th:inline="javascript">
    'use strict'
    document.getElementById('register-btn').addEventListener('click', () => {
      location.href = /*[[${url}]]*/ '/menu';
    });
  </script>
</body>
</html>