<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>
  <th:block th:insert="/common/header"></th:block>

  <div class="insert">
    <div class="form-body">
<!--        prodcutIdが重複している場合にエラーメッセージ-->
      <p th:text="${errorMessage}" class="error"></p>

      <form th:action="@{/updateInput/__${id}__}" th:object="${updateForm}" method="post">
        <fieldset class="label-130">
          <div>
            <label>商品ID</label>
            <input type="text" th:field="*{productId}" name="productId" class="base-text">
              <div class="error" th:each="error: ${#fields.errors('productId')}">
                  [[ ${error} ]]
              </div>
          </div>
          <div>
            <label>商品名</label>
            <input type="text" th:field="*{productName}" name="productName" class="base-text">
              <div class="error" th:each="error: ${#fields.errors('productName')}">
                  [[ ${error} ]]
              </div>
          </div>
          <div>
            <label>単価</label>
            <input type="text" th:field="*{price}" name="price" class="base-text">
              <div class="error" th:each="error: ${#fields.errors('price')}">
                  [[ ${error} ]]
              </div>
          </div>
          <div>
<!--            たぶんプルダウンに値が出ないので後で直す-->
            <label>カテゴリ</label> <select th:field="*{categoryId}" name="categoryId" class="base-text">
                <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}" selected></option>
          </select>
          </div>
          <div>
            <label>商品説明</label>
            <textarea th:field="*{description}" name="description" class="base-text"></textarea>
          </div>
<!--          <div>-->
<!--            <label>画像</label>-->
<!--            <input type="file" name="file">-->
<!--            <span class="error">エラーメッセージ</span>-->
<!--          </div>-->
        </fieldset>
          <div class="btns">
            <button type="button" onclick="openModal()" class="basic-btn">更新</button>
            <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">更新しますか？</p>
            <div class="btns">
<!--              <button type="button" id="update-btn" class="basic-btn">更新</button>-->
                <button type="submit" id="update-btn" class="basic-btn">更新</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="/js/commons.js"></script>
  <script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = '/menu'
    })
  </script>
</body>
</html>